.similar-movies {
  @media (max-width: 479px) {
    .col {
      width: 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .card {
      height: 100%;
    }
  }

  @media (min-width: 329px) and (max-width: 479px) {
    .col {
      margin-bottom: 20px;
    }
  }
}
