.similar-movies {
  .row {
    margin: -5px;

    @media (min-width: 329px) and (max-width: 479px) {
      margin: -8px;
    }

    @media (min-width: 576px) {
      margin: -10px;
    }

    .col {
      padding: 5px;

      @media (min-width: 329px) and (max-width: 479px) {
        padding: 8px;
      }

      @media (min-width: 576px) {
        padding: 10px;
      }
    }

    .card {
      height: 100%;
    }
  }
}
